In [ ]:
even_numbers = list(range(2, 100, 2))
print(even_numbers)

In [ ]:
count = int(input('인사 몇 번 해드릴까요?'))
for i in range(count):
    print('Hello world')

In [ ]:
print(list(range(5,10)))
print(list(range(0,10,3)))
print(list(range(-10,-71, -30)))

In [ ]:
num = int(input("자연수 하나 입력해주세요 : "))
for j in range(0, num):
    ending = '\t'
    for i in range(0, num):
        if i == num - 1:
            ending = '\n'
        print(num, end = ending)
    num -= 1

In [ ]:
for _ in list(range(0,10)):
    if _ in [0,9]:
        print('*' * 10)
    else:
        print('*' + ' ' * 8 + '*')

In [ ]:
num = int(input('자연수를 입력해주세요 : '))
sum = 0
text = ''
for i in range(1,num):
    if i % 2 == 1:
        sum += i
        text += (str(i) + ' + ')
text = text[0:-3]
text += (' = ' + str(sum))
print(text)

In [ ]:
num = int(input('계승을 구할 숫자를 입력하세요. : '))
result = 1
for i in range(1,num + 1):
    result = result * i
print(result)

In [ ]:
x = [10, -42, 25, 103, 21, 77, 24]
for i in x:
    print(i * 10, end = ' ')

In [ ]:
num = int(input('구구단을 알려드립니다. 숫자를 입력하세요'))
for i in range(1,num + 1):
    print(f'{num} * {i} = {num * i}')

In [ ]:
num = int(input('자연수를 입력해주세요 : '))
sum = 0
for i in range(1, num + 1):
    sum += i
print(sum)

In [ ]:
for i in [1,2,3]:
    print(i)

In [ ]:
nowtime = input('현재 시간을 입력하세요.')
if nowtime.split(':')[1] == "00":
    print('정각입니다.')
else :
    print('정각이 아닙니다.')

In [ ]:
list_a = [1,2,3,4,5,6,7,8,9,10]
list_a[2::3] = ['짝','짝','짝']

In [ ]:
list_a

In [ ]:
[0] * 10

In [ ]:
"10 1".split()

In [ ]:
sum = 0
for i in range(1,11):
    if i % 2 == 1:
        sum += i
print(f'1부터 10까지 홀수의 합은 {sum}입니다.')

In [ ]:
tuple(range(-10,10,3))

In [ ]:
print('Python[0:4:2]')

In [ ]:
a = 3
for i in range(1,3):
    print(i)

In [ ]:
for i in range(1,10):
    print(i)

In [ ]:
for i in range(1,10):
    print(i)

In [ ]:
for i in range(1,11):
    print(i)

In [ ]:
for _ in reversed("일이삼사오육칠팔구십"):
    print(_, end = ' ')

In [ ]:
for _ in range(0,5):
    for i in range(0,5):
        ending = ""
        if i == 4:
            ending = "\n"
        print( "*", end = ending)

In [ ]:
for _ in range(0,5):
    for i in range(0,5):
        print("*", end = '')
    print()

In [ ]:
for _ in range(0,5):
    print("*" * 5)

In [ ]:
i = 0
while i < 10:
    print("hello world")
    i += 1

In [ ]:
count = int(input('반복할 횟수를 입력하세요: '))
while count > 0:
    print("hello world", count)
    count -= 1

In [21]:
num = int(input('숫자를 입력하세요'))
count = 1
while count <= 9:
    print(f'{num} * {count} = {num * count}')
    count += 1

123123123 * 1 = 123123123
123123123 * 2 = 246246246
123123123 * 3 = 369369369
123123123 * 4 = 492492492
123123123 * 5 = 615615615
123123123 * 6 = 738738738
123123123 * 7 = 861861861
123123123 * 8 = 984984984
123123123 * 9 = 1108108107

In [50]:
stu_count = int(input('학생의 수를 입력하세요: '))
count = 1
sum = 0
while count <= stu_count:
    score = int(input(f'{count}번 학생의 점수 : '))
    sum += score
    count += 1
print('평균 : ' + str(sum / stu_count) + '점')

평균 : 88.0점

In [55]:
scores = (97, 100, 77)
for _ in range(len(scores)):
    print(scores[_])

97
100
77

In [63]:
for i in [1,2,3,4,5,6,7,8,9]:
    print(i)

1
2
3
4
5
6
7
8
9

In [71]:
class_a = (70,60,55,75,95,90,80,80,85,100)
sum = 0
for i in range(len(class_a)):
    sum += class_a[i]
print(sum / len(class_a))

79.0

In [79]:
class_a = (70,60,55,75,95,90,80,80,85,100)
sum = 0
i = 0
while i < len(class_a):
    sum += class_a[i]
    i += 1
print(sum / len(class_a))

79.0

In [106]:
i = 0
total = 0
while True:
    if i == 101:
        break
    total += i
    i += 1
print(total)

5050

In [15]:
i = 0
while True:
    if i == 101:
        break
    if i % 10 != 3:
        i += 1
        continue
    print(i , end = ' ')
    i += 1

3 13 23 33 43 53 63 73 83 93

In [29]:
# for문
for i in range(1,11):
    print(i, end = " ")


print()
# while문
count = 1
while count <= 10:
    print(count, end = " ")
    count += 1

1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10

In [55]:
# for 문
start = int(input('시작하는 정수 입력 :'))
end = int(input('끝나는 정수 입력: '))
sum = 0
for i in range(start, end + 1):
    sum += i
print(f'{start}부터 {end}까지의 합은 {sum}입니다.')

1부터 10까지의 합은 55입니다.

In [58]:
# while 문
start = int(input('시작하는 정수 입력 :'))
temp_start = start
end = int(input('끝나는 정수 입력: '))
sum_ = 0
while temp_start <= end:
    sum_ += temp_start
    temp_start += 1
print(f'{start}부터 {end}까지의 합은 {sum_}입니다.')

2부터 20까지의 합은 209입니다.

In [78]:
start = int(input('시작하는 정수 입력 :'))
end = int(input('끝나는 정수 입력: '))

#### for문
total = 0
for i in range(start, end + 1):
    if i % 2 == 0:
        total += i**2
print(f'{start}부터 {end} 사이의 짝수 제곱의 합은 {total}입니다.')


#### while문
total = 0
temp_start = start
while temp_start <= end:
    if temp_start % 2 == 0:
        total += temp_start ** 2
    temp_start += 1
print(f'{start}부터 {end} 사이의 짝수 제곱의 합은 {total}입니다.')

15부터 68 사이의 짝수 제곱의 합은 54180입니다.
15부터 68 사이의 짝수 제곱의 합은 54180입니다.

In [92]:
print(3)

3

In [102]:
from pytz import timezone
from datetime import datetime, timedelta
base_date = datetime.now(timezone('Asia/Seoul')) - timedelta(minutes = 30)

datetime.datetime(2023, 1, 9, 16, 17, 41, 552322, tzinfo=<DstTzInfo 'Asia/Seoul' KST+9:00:00 STD>)

In [103]:
Kor = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0
for i in Kor:
    total += i
print(total / len(Kor))

79.0

In [105]:
Kor = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0
count = 0
while count < len(Kor):
    total += Kor[count]
    count += 1
print(total/ len(Kor))

79.0

In [13]:
Scores = list(map(int, input('실기점수를 입력하세요: ').split()))
total = 0
max_score = 0
min_score = 100
for score in Scores:
    total += score
    if score > max_score:
        max_score = score
    if score < min_score:
        min_score = score

print(f'이 학생의 평균 점수는 {(total - max_score - min_score) / (len(Scores) - 2)}입니다.')

이 학생의 평균 점수는 79.0입니다.

In [17]:
Scores = [86,72,98,60,45]
A_grade, B_grade, C_grade, D_grade, F_grade = [0, 0, 0, 0, 0]

for score in Scores:
    if 85 <= score <= 100:
        A_grade += 1
    elif 70 <= score <= 84:
        B_grade += 1
    elif 55 <= score <= 69:
        C_grade += 1
    elif 40 <= score <= 54:
        D_grade += 1
    elif 0 <= score <= 39:
        F_grade += 1

print([A_grade, B_grade, C_grade, D_grade, F_grade])

[2, 1, 1, 1, 0]

In [18]:
Scores = [86,72,98,60,45]
grade_counter = [0, 0, 0, 0, 0]

for score in Scores:
    if 85 <= score <= 100:
        grade_counter[0] += 1
    elif 70 <= score <= 84:
        grade_counter[1] += 1
    elif 55 <= score <= 69:
        grade_counter[2] += 1
    elif 40 <= score <= 54:
        grade_counter[3] += 1
    elif 0 <= score <= 39:
        grade_counter[4] += 1

print(grade_counter)

[2, 1, 1, 1, 0]

In [21]:
for i in range(1,101):
    if (i % 3 == 0) & (i % 5 == 0):
        i = 'FizzBuzz'
    elif (i % 3 == 0):
        i = 'Fizz'
    elif (i % 5 == 0):
        i = 'Buzz'
    print(i, end = '\t')

1	2	Fizz	4	Buzz	Fizz	7	8	Fizz	Buzz	11	Fizz	13	14	FizzBuzz	16	17	Fizz	19	Buzz	Fizz	22	23	Fizz	Buzz	26	Fizz	28	29	FizzBuzz	31	32	Fizz	34	Buzz	Fizz	37	38	Fizz	Buzz	41	Fizz	43	44	FizzBuzz	46	47	Fizz	49	Buzz	Fizz	52	53	Fizz	Buzz	56	Fizz	58	59	FizzBuzz	61	62	Fizz	64	Buzz	Fizz	67	68	Fizz	Buzz	71	Fizz	73	74	FizzBuzz	76	77	Fizz	79	Buzz	Fizz	82	83	Fizz	Buzz	86	Fizz	88	89	FizzBuzz	91	92	Fizz	94	Buzz	Fizz	97	98	Fizz	Buzz

In [40]:
for i in range(1,101):
    print("Fizz" * (i % 3 == 0) + "Buzz" * (i % 5 == 0) or i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [39]:
dic_ = {'00': 'g', '10' : 'Fizz', '01' : 'Buzz', '11' : 'FizzBuzz'}
for i in range(1,101):
    a = dic_[f'{int(i % 3 == 0)}{int(i % 5 == 0)}']
    if a == 'g':
        a = i
    print(a, end = '\t')

1	2	Fizz	4	Buzz	Fizz	7	8	Fizz	Buzz	11	Fizz	13	14	FizzBuzz	16	17	Fizz	19	Buzz	Fizz	22	23	Fizz	Buzz	26	Fizz	28	29	FizzBuzz	31	32	Fizz	34	Buzz	Fizz	37	38	Fizz	Buzz	41	Fizz	43	44	FizzBuzz	46	47	Fizz	49	Buzz	Fizz	52	53	Fizz	Buzz	56	Fizz	58	59	FizzBuzz	61	62	Fizz	64	Buzz	Fizz	67	68	Fizz	Buzz	71	Fizz	73	74	FizzBuzz	76	77	Fizz	79	Buzz	Fizz	82	83	Fizz	Buzz	86	Fizz	88	89	FizzBuzz	91	92	Fizz	94	Buzz	Fizz	97	98	Fizz	Buzz

In [42]:
name_list = ['matthew', 'mark', 'luke', 'john', 'paul', 'peter']
count = 0
for name in name_list:
    if ('m' in name) or ('h' in name):
        count += 1
print(f'm 또는 h가 이름에 포함된 사람은 {count} 명입니다.')

m 또는 h가 이름에 포함된 사람은 3 명입니다.

In [55]:
marks = [90, 25, 67, 45, 80]

# for문
for mark_idx in range(len(marks)):
    if marks[mark_idx] >= 60:
        print(f'{mark_idx + 1}번 학생 축하합니다. 합격입니다.')
        
# while 문
count = 0
seq = 0
while count < len(marks):
    seq += 1
    if marks[count] >= 60:
        print(f'{seq}번 학생 축하합니다. 합격입니다.')
    count += 1

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.
1번 학생 축하합니다. 합격입니다.

KeyboardInterrupt:

In [57]:
marks = [90, 25, 67, 45, 80]

# for문
for mark_idx in range(len(marks)):
    if marks[mark_idx] < 60:
        continue
    print(f'{mark_idx + 1}번 학생 축하합니다. 합격입니다.')
        
# while 문
count = 0
seq = 0
while count < len(marks):
    seq += 1
    if marks[count] < 60:
        count += 1
        continue
    print(f'{seq}번 학생 축하합니다. 합격입니다.')
    count += 1

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.
1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [70]:
arr = [1, 4, 2, 3]
left, right = 0, len(arr) - 1
while left <= right:
    arr[left], arr[right] = arr[right], arr[left]
    left += 1
    right -= 1

print("변환된 arr은", arr, "입니다")

변환된 arr은 [3, 2, 4, 1] 입니다

In [81]:
for i in range(1,10):
    for j in range(2,10):
        print(f'{j}x{i}={i * j}', end = '\t')
    print('')

2x1=2	3x1=3	4x1=4	5x1=5	6x1=6	7x1=7	8x1=8	9x1=9
2x2=4	3x2=6	4x2=8	5x2=10	6x2=12	7x2=14	8x2=16	9x2=18
2x3=6	3x3=9	4x3=12	5x3=15	6x3=18	7x3=21	8x3=24	9x3=27
2x4=8	3x4=12	4x4=16	5x4=20	6x4=24	7x4=28	8x4=32	9x4=36
2x5=10	3x5=15	4x5=20	5x5=25	6x5=30	7x5=35	8x5=40	9x5=45
2x6=12	3x6=18	4x6=24	5x6=30	6x6=36	7x6=42	8x6=48	9x6=54
2x7=14	3x7=21	4x7=28	5x7=35	6x7=42	7x7=49	8x7=56	9x7=63
2x8=16	3x8=24	4x8=32	5x8=40	6x8=48	7x8=56	8x8=64	9x8=72
2x9=18	3x9=27	4x9=36	5x9=45	6x9=54	7x9=63	8x9=72	9x9=81

In [82]:
dic = {1: 3, 1: 4}

In [83]:
dic

{1: 4}

In [11]:
fruit = input('좋아하는 과일을 입력하세요: ')
fruits = ['사과', '바나나', '오렌지', '파인애플']
price = [1000, 700, 1500, 2000]
price_dic = dict(zip(fruits,price))
print(f'사과의 가격은 {price_dic[fruit]}원 입니다.')

사과의 가격은 1000원입니다.

In [14]:
names = input('이름을 기입해주세요').split()
weight = map(float, input('몸무게를 입력해주세요').split())
info = dict(zip(names, weight))
print(info)

{'뽀로로': 33.2, '우상욱': 44.5, '스누피': 66.6, '강형욱': 32.2}

In [16]:
names = input('이름을 기입해주세요').split()
weight = map(float, input('몸무게를 입력해주세요').split())

In [17]:
names = ['스누피', '뽀로로', '만리장성']
weight = [123, 232, 2323]
dict = {}
for idx, name in enumerate(names):
    dict[name] = weight[idx]
dict

{'스누피': 123, '뽀로로': 232, '만리장성': 2323}

In [27]:
"a b c d".split()

['a', 'b', 'c', 'd']

In [44]:
list_a = list(range(1,9516165))

In [47]:
for idx, _ in enumerate(list_a):
    list_a[idx] = _ **2

In [48]:

list_a = [_ ** 2 for _ in list_a]

In [49]:
prac_result = [_ ** 2 for _ in list(range(1,10))]
print(type(prac_result))
print(prac_result)

<class 'list'>
[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [51]:
def calculator(x):
    return x ** 2 + 35 - 22.2

prac_result = [calculator(x) for x in list(range(1,10))]
print(prac_result)

[13.8, 16.8, 21.8, 28.8, 37.8, 48.8, 61.8, 76.8, 93.8]

In [37]:
votes = [2,5,3,4,1,5,1,5,5,3]
candidates = ["","전정국", "김남준", "박지민", "정호석", "김태형"]
list_ = (0,0,0,0,0,0)
candidates_dict = dict(zip(candidates, list_))

for vote in votes:
    candidates_dict[candidates[vote]] += 1

winner_vote = 0
for i in candidates_dict:
    if  winner_vote < candidates_dict[i]:
        winner_vote = candidates_dict[i]
        winner = i

print(f'{winner} 후보가 총 {winner_vote}표를 얻어 당선되었습니다.')

김태형 후보가 총 4표를 얻어 당선되었습니다.

In [47]:
votes = [2,5,3,4,1,5,1,5,5,3]
candidates = ["","전정국", "김남준", "박지민", "정호석", "김태형"]
list_ = [0, 0, 0, 0, 0, 0]

for idx in votes:
    list_[idx] += 1
    
winner_votes_count = max(list_)
winner = candidates[list_.index(winner_votes_count)]

print(f'{winner} 후보가 총 {winner_votes_count}표를 얻어 당선되었습니다.')

김태형 후보가 총 4표를 얻어 당선되었습니다.

In [55]:
winner_votes = 0
for idx, i in enumerate(list_):
    if i > winner_votes:
        winner_votes = i
        winner = idx
winner_votes, candidates[winner]

(4, '김태형')

In [57]:
print("내 이름은 우 사 ㅇ 욱")

내 이름은 우 사 ㅇ 욱

In [58]:
for i in 'supervalue':
    print(i)

s
u
p
e
r
v
a
l
u
e

In [60]:
prac_result2 = [x for x in range(1,10) if x % 2 == 1]
prac_result2

[1, 3, 5, 7, 9]

In [62]:
alphabets = 'abcdefghijklmnopqrstuvwxyz'
prac_result3 = [x for x in alphabets]
print(prac_result3)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [84]:
prac_result4 = [str(x) for x in list(range(2,11))] + [x for x in 'JQKA']
# prac_result4[0] = 'two'
print(prac_result4)

['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A']

In [85]:
prac_result5 = [prac_result4 for x in range(1,5)]
print(prac_result5)

[['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A'], ['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A'], ['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A'], ['2', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A']]

In [86]:
prac_result4[0] = 'two'

In [87]:
prac_result5

[['two', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A'],
 ['two', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A'],
 ['two', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A'],
 ['two', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A']]

In [89]:
# 메모리에 담긴 리스트를 부를 때, 메모리의 리스트 주소값으로 찾으러감
# 객체 안에 주소가 있었음
prac_result5 = [prac_result4 for x in range(4)]
print(prac_result5)

# 그래서 prac_result4라는 주소를 가져온 것임(동일한 애를 가르키고 있는 주소였던 것)
# prac_result5[0] = prac_result4(주소 가지고 있음)
# prac_result5[1] = prac_result4(주소 가지고 있음)
# prac_result5[2] = prac_result4(주소 가지고 있음)
# prac_result5[3] = prac_result4(주소 가지고 있음)

# 그래서 prac_result4를 변경하면, 그 값 자체의 주소를 저장하고 있기 때문에
# 그 주소를 찾아가면 변수를 보고 있으니까 메모리를 최대한 효율적으로 쓰기 위해 이런 결과가 발생한다.
#

[['two', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A'], ['two', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A'], ['two', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A'], ['two', '3', '4', '5', '6', '7', '8', '9', '10', 'J', 'Q', 'K', 'A']]

In [ ]:
False
True

In [91]:
old_list = list(range(10))
new_list = old_list[:]
print(id(old_list))
print(id(new_list))
print(old_list is new_list)
print(old_list == new_list)

2566027092288
2566027325504
False
True

In [97]:
str_sample = "This is str"
str2 = str_sample[:]
print(id(str_sample) == id(str2))

True

In [133]:
length = int(input('순환할 숫자를 입력하세요'))
count = 0
while count < length:
    list_ = [x + count - length if x + count > length else x + count for x in range(1, length + 1)]
    for i in list_:
        print(i, end = ' ')
    print()
    count += 1

1 2 3 4 5
2 3 4 5 1
3 4 5 1 2
4 5 1 2 3
5 1 2 3 4

In [176]:
a = ['alpha', 'bravo', 'charlie', 'delta', 'echo', 'foxtrot', 'golf', 'hotel', 'india']
b = [x for x in a if len(x) == 5]
print(b)

['alpha', 'bravo', 'delta', 'hotel', 'india']

In [166]:
list_

[2, 3, 4, 5, 6, 7, 8, 9, 1, 10]

In [200]:
while True:
    a, b = list(map(int, input('정수 두개 입력하세요').split()))
    if a < 1 or a > 20:
        print('첫번째 값의 범위는 1 ~ 20입니다.')
        continue
    if b < 10 or b > 30:
        print('두번째 값의 범위는 10 ~ 30입니다.')
        continue
    if a > b:
        print('첫번째 입력 값은 두번째 입력 값보다 작게 입력하세요.')
        continue
    break
new_list = list(range(a, b + 1))
print([2 ** x for idx, x in enumerate(new_list) if idx not in [1,len(new_list) - 2]])

[1024]

In [207]:
num = 1
total = 0
while num <= 100:
    if num % 2 == 0:
        total += num ** 2
        print(f'+ {num ** 2}', end = ' ')
    elif num % 2 == 1:
        total -= num ** 2
        print(f'- {num ** 2}', end = ' ')
    if num % 10 == 0:
        print()
    num += 1
print(f'= {total} 입니다.')

- 1 + 4 - 9 + 16 - 25 + 36 - 49 + 64 - 81 + 100
- 121 + 144 - 169 + 196 - 225 + 256 - 289 + 324 - 361 + 400
- 441 + 484 - 529 + 576 - 625 + 676 - 729 + 784 - 841 + 900
- 961 + 1024 - 1089 + 1156 - 1225 + 1296 - 1369 + 1444 - 1521 + 1600
- 1681 + 1764 - 1849 + 1936 - 2025 + 2116 - 2209 + 2304 - 2401 + 2500
- 2601 + 2704 - 2809 + 2916 - 3025 + 3136 - 3249 + 3364 - 3481 + 3600
- 3721 + 3844 - 3969 + 4096 - 4225 + 4356 - 4489 + 4624 - 4761 + 4900
- 5041 + 5184 - 5329 + 5476 - 5625 + 5776 - 5929 + 6084 - 6241 + 6400
- 6561 + 6724 - 6889 + 7056 - 7225 + 7396 - 7569 + 7744 - 7921 + 8100
- 8281 + 8464 - 8649 + 8836 - 9025 + 9216 - 9409 + 9604 - 9801 + 10000
= 5050 입니다.

In [3]:
a = ['b']
b = ['b']

a is b

False

In [17]:
import random

for i in range(count):
    lotto_list = [random.randint(1,45) for _ in range(6)]
    lotto_list.sort()
    print(lotto_list)

[2, 2, 7, 10, 19, 24]
[3, 11, 17, 26, 28, 41]
[15, 16, 18, 26, 40, 42]
[9, 20, 25, 26, 29, 30]
[12, 17, 25, 26, 34, 40]
[4, 17, 19, 25, 26, 33]

In [52]:
import random
count = int(input('로또 번호 몇 개 드릴까요?'))

for i in range(count):
    # 초기화
    lotto_list = []
    for _ in range(6):
        # 중복되면 다시 뽑기
        while True:
            lotto_num = random.randint(1,45)
            if lotto_num not in lotto_list:
                lotto_list.append(lotto_num)
                break
        # 로또 리스트 정렬
        lotto_list.sort()
    print(lotto_list)

[10, 11, 14, 16, 17, 19]
[10, 12, 19, 32, 33, 38]
[11, 19, 21, 26, 27, 37]
[6, 12, 22, 25, 30, 34]
[7, 26, 35, 36, 37, 40]
[3, 6, 14, 21, 30, 39]
[13, 15, 24, 35, 38, 45]
[1, 10, 17, 20, 37, 42]
[6, 10, 19, 32, 41, 42]
[3, 4, 13, 15, 23, 30]
[14, 15, 27, 39, 40, 42]
[14, 24, 25, 35, 36, 45]
[3, 20, 24, 38, 39, 41]
[8, 9, 10, 22, 28, 44]
[9, 20, 32, 33, 41, 44]
[22, 26, 36, 38, 40, 41]
[5, 13, 28, 36, 39, 45]
[2, 22, 23, 27, 37, 39]
[12, 15, 23, 26, 29, 38]
[9, 10, 23, 25, 28, 34]
[5, 18, 25, 29, 39, 44]
[6, 8, 22, 26, 28, 39]
[5, 7, 8, 12, 17, 45]

In [53]:
import random
count = int(input('로또 번호 몇 개 드릴까요?'))

for i in range(count):
    # 초기화
    
    for _ in range(6):

SyntaxError: invalid syntax (3729233263.py, line 6)

In [68]:
import random
count = int(input('로또 번호 몇 개 드릴까요?'))

for i in range(count):
    # 초기화
    lotto_list = set()
    while len(lotto_list) < 6:
        lotto_num = random.randint(1,45)
        lotto_list.add(lotto_num)
        # 로또 리스트 정렬
    lotto_list = list(lotto_list)
    lotto_list.sort()
    print(lotto_list)

[5, 15, 32, 35, 39, 42]
[5, 11, 12, 28, 32, 36]
[9, 11, 12, 14, 30, 33]
[3, 9, 19, 21, 28, 38]
[8, 20, 24, 25, 36, 44]
[2, 9, 29, 36, 44, 45]
[7, 23, 28, 31, 32, 33]
[13, 26, 29, 30, 41, 42]

In [72]:
list_sample = [1,2,2,3,3,3,4,4,4,4]
print(set(list_sample))

{1, 2, 3, 4}

In [82]:
set_3 = {x for x in range(1,101) if x % 3 == 0}
set_5 = {x for x in range(1,101) if x % 5 == 0}
result_set = set_3 & set_5
print(result_set)

{75, 45, 15, 90, 60, 30}

In [85]:
for idx, i in enumerate('woosangwook'):
    print(i, idx)

w 0
o 1
o 2
s 3
a 4
n 5
g 6
w 7
o 8
o 9
k 10

In [104]:
role_admin = ("회계 관리", "인사 관리", "구매 관리", "시스템 관리")
role_hr = ("인사 관리", "개인정보 조회", "회계 관리", "근태 관리")
rol_user = ("개인정보 조회", "근태 관리")

role_list = list(set(role_admin + role_hr + rol_user))
role_list.sort()

# 출력
for idx, role in enumerate(role_list):
    if idx == len(role_list) - 1:
        print(role)
    else :
        print(role, end = ', ')

개인정보 조회, 구매 관리, 근태 관리, 시스템 관리, 인사 관리, 회계 관리

In [120]:
print("2부터 입력하신 수까지의 모든 소수를 찾는 프로그램입니다.")
range_num = int(input('찾는 범위를 입력하세요 : '))
list_ = []

for i in range(2, range_num + 1):
    count = 0
    for j in range(1, i + 1):
        if i % j == 0:
            count += 1
            # print(j)
    if count == 2:
        list_.append(i)

for idx, sosu in enumerate(list_):
    if idx % 7 == 0:
        print()
    print(sosu, end = ' ')

2부터 입력하신 수까지의 모든 소수를 찾는 프로그램입니다.

2 3 5 7 11 13 17
19 23 29 31 37 41 43
47 53 59 61 67 71 73
79 83 89 97

In [125]:
print("1","2", "3", "4", "5", "6")

1 2 3 4 5 6

In [126]:
# 함수 정의절
def function_name(positional, positional2, *args, keyword1 = 1, **keyword_args):
    pass # body

In [129]:
def isPrime(num):
    primes = [False, False] + [True]*(num-1)
    for i in range(2, num+1):
        if primes[i]:
            for _ in range(i * 2, num+1, i):
                primes[_] = False
    return primes[num]
get = int(input("찾는 범위: "))
lst = [_ for _ in range(2, get) if isPrime(_)]
count = 0
for _ in lst:
    count+=1
    print(_,end=" ")
    if count%7 == 0:
        print()

2 3 5 7 11 13 17
19 23 29 31 37 41 43
47 53 59 61 67

In [137]:
def get_grade(score):
    '''
    숫자로 된 정수를 넣으시면 학점의 결과를 반환합니다.
    '''
    if 85 <= score <= 100:
        return "A"
    elif 70 <= score <= 84:
        return "B"
    elif 55 <= score <= 69:
        return "C"
    elif 40 <= score <= 54:
        return "D"
    elif 0 <= score <= 39:
        return "F"

In [139]:
get_grade.__doc__

'\n    숫자로 된 정수를 넣으시면 학점의 결과를 반환합니다.\n    '

In [150]:
import random

def get_grade(score = 0):
    '''
    숫자로 된 정수를 넣으시면 학점의 결과를 반환합니다.
    '''
    if 85 <= score <= 100:
        return "A"
    elif 70 <= score <= 84:
        return "B"
    elif 55 <= score <= 69:
        return "C"
    elif 40 <= score <= 54:
        return "D"
    elif 0 <= score <= 39:
        return "F"
    

# 20명의 점수를 시스템에 입력
scores = [random.randint(1,100) for _ in range(20)]
scores = list(map(get_grade, scores))
print(scores)

['F', 'F', 'D', 'C', 'B', 'F', 'C', 'F', 'F', 'F', 'A', 'F', 'F', 'F', 'C', 'F', 'F', 'F', 'C', 'F']

In [151]:
get_grade()

'F'

In [166]:
def get_grade(score,  student_number, name = '홍길동',):
    '''
    숫자로 된 정수를 넣으시면 학점의 결과를 반환합니다.
    '''
    print(f"{student_number} {name}의 성적을 확인합니다.")
    if 85 <= score <= 100:
        return "A"
    elif 70 <= score <= 84:
        return "B"
    elif 55 <= score <= 69:
        return "C"
    elif 40 <= score <= 54:
        return "D"
    elif 0 <= score <= 39:
        return "F"
    

# # 20명의 점수를 시스템에 입력
# scores = [random.randint(1,100) for _ in range(20)]
# scores = list(map(get_grade, scores))
# print(scores, '우상욱', '2015111498')

In [171]:
get_grade(1, name = '김길동', student_number = '2015111498')

2015111498 김길동의 성적을 확인합니다.

'F'

In [184]:
# 인자(매개변수, parameter) - non-default, default 종류
# positional only : / 문자 기준으로 왼편에 온다(콤마 찍고 인자 처럼 / 넣기)
def add_number(number2, number1 = 3, / ):
    '''
    숫자 number1과 숫자 number2를 전달 받아 더한 결과를 반환합니다.
    '''
    return number1 + number2

# 인수(argument) - positional argument, keyword argument
result = add_number(number2 = 45, number1 = 33) # 키워드 방식이 적용되지 않는 것을 볼 수 있다. positional only로 설정해주었기 때문이다.
### Error 반환
print(result)

78

In [190]:
# keyword-only : * 문자를 기준으로 오른편에 온다.
def minus_number(number1 , / , *, number2 = 3):
    '''
    숫자 number1과 숫자 number2를 전달 받아 뺀 결과를 반환합니다.
    '''
    return number1 - number2

# 함수를 호출
# 인수(argument) - positional arguemnt, keyword argument
minus_number(20, number2 = 5)
### 에러 발생, 키워드를 채우지 않았기 때문

15

In [196]:
def string_line(str_value, /, str_len = 70, *, sep = "#"):
    '''
    str_value는 가운데 오는 텍스트입니다.
    str_len은 텍스트의 설정할 길이입니다.
    sep은 구분선을 그을 때 쓰는 문자입니다.
    '''
    print(str_value.center(str_len, sep))
    # 여기서 파라미터 str_len은 과연 무엇일까
    # 위치 방식(positional), 키워드 방식(keyword) 전부 가능하다. 
    # str_value 는 / 왼편에 오므로, 위치방식
    # sep는 * 오른편에 오므로, 키워드 방식
string_line("구분", 50, sep = "*")
string_line("절취선", str_len = 100, sep = "-")

************************구분************************
------------------------------------------------절취선-------------------------------------------------

In [200]:
# 가변위치(var positional)
# 위치 매개변수 앞에 추가적인 위치 매개변수를 개수에 상관없이 받는다.
# 변수명 앞에 *를 하나 붙여 표기합니다.
print("1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1","1")

1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1 1

In [210]:
# *args : var positional 가변 위치
def test_func(a, b, c, *args,):
    print(f"a : {a} - b : {b} - c : {c}")
    print(type(args))
    print(args)
test_func("a 위치입니다", "b 위치입니다", "c 위치입니다", "여기는", "어딜까요", "몇개", "더") # args는 튜플로 자동 패킹

a : a 위치입니다 - b : b 위치입니다 - c : c 위치입니다
<class 'tuple'>
('여기는', '어딜까요', '몇개', '더')

In [213]:
# **kargs : var keyword 가변 키워드
def test_func(a = "a", b = "b", **kargs):
    print(a,b)
    print(type(kargs))
    print(kargs)
    
test_func(1,2, key = 'value', key2 = 'value2')
# 결과값
# 1 2
# <class 'dict'>
# {'key': 'value', 'key2': 'value2'}
# kargs 값을 딕셔너리로 패킹해서 받는다.

In [217]:
def plus_ten(x):
    return x + 10

30

In [16]:
import random

target_num = random.randint(1, 100)

answer_list = []
count = 0
while True:
    answer_num = int(input('값을 입력해주세요 : '))
    answer_list.append(answer_num)
    if answer_num < 1 or answer_num > 100:
        print('1~100 사이의 숫자를 입력하세요.')
        count += 1
        continue
    if target_num < answer_num:
        print('그보다 작습니다.')
        count += 1
        continue
    elif target_num > answer_num:
        print('그보다 큽니다.')
        count += 1
        continue
    else:
        print('맞췄습니다!')
        count += 1
        break
print(f"{count}번 만에 맞추셨습니다!")
answer_list = list(map(str,answer_list))
print(f"입력한 숫자는 다음과 같습니다 {','.join(answer_list)}")

그보다 큽니다.
그보다 작습니다.
그보다 큽니다.
그보다 큽니다.
그보다 큽니다.
그보다 큽니다.
그보다 큽니다.
맞췄습니다!
8번 만에 맞추셨습니다!
입력한 숫자는 다음과 같습니다 50,75,65,66,70,72,73,74

In [4]:
target_num

33