In [ ]:
even_numbers = list(range(2, 100, 2))
print(even_numbers)

In [ ]:
count = int(input('인사 몇 번 해드릴까요?'))
for i in range(count):
    print('Hello world')

In [ ]:
print(list(range(5,10)))
print(list(range(0,10,3)))
print(list(range(-10,-71, -30)))

In [ ]:
num = int(input("자연수 하나 입력해주세요 : "))
for j in range(0, num):
    ending = '\t'
    for i in range(0, num):
        if i == num - 1:
            ending = '\n'
        print(num, end = ending)
    num -= 1

In [ ]:
for _ in list(range(0,10)):
    if _ in [0,9]:
        print('*' * 10)
    else:
        print('*' + ' ' * 8 + '*')

In [ ]:
num = int(input('자연수를 입력해주세요 : '))
sum = 0
text = ''
for i in range(1,num):
    if i % 2 == 1:
        sum += i
        text += (str(i) + ' + ')
text = text[0:-3]
text += (' = ' + str(sum))
print(text)

In [ ]:
num = int(input('계승을 구할 숫자를 입력하세요. : '))
result = 1
for i in range(1,num + 1):
    result = result * i
print(result)

In [ ]:
x = [10, -42, 25, 103, 21, 77, 24]
for i in x:
    print(i * 10, end = ' ')

In [ ]:
num = int(input('구구단을 알려드립니다. 숫자를 입력하세요'))
for i in range(1,num + 1):
    print(f'{num} * {i} = {num * i}')

In [ ]:
num = int(input('자연수를 입력해주세요 : '))
sum = 0
for i in range(1, num + 1):
    sum += i
print(sum)

In [ ]:
for i in [1,2,3]:
    print(i)

In [ ]:
nowtime = input('현재 시간을 입력하세요.')
if nowtime.split(':')[1] == "00":
    print('정각입니다.')
else :
    print('정각이 아닙니다.')

In [ ]:
list_a = [1,2,3,4,5,6,7,8,9,10]
list_a[2::3] = ['짝','짝','짝']

In [ ]:
list_a

In [ ]:
[0] * 10

In [ ]:
"10 1".split()

In [ ]:
sum = 0
for i in range(1,11):
    if i % 2 == 1:
        sum += i
print(f'1부터 10까지 홀수의 합은 {sum}입니다.')

In [ ]:
tuple(range(-10,10,3))

In [ ]:
print('Python[0:4:2]')

In [ ]:
a = 3
for i in range(1,3):
    print(i)

In [ ]:
for i in range(1,10):
    print(i)

In [ ]:
for i in range(1,10):
    print(i)

In [ ]:
for i in range(1,11):
    print(i)

In [ ]:
for _ in reversed("일이삼사오육칠팔구십"):
    print(_, end = ' ')

In [ ]:
for _ in range(0,5):
    for i in range(0,5):
        ending = ""
        if i == 4:
            ending = "\n"
        print( "*", end = ending)

In [ ]:
for _ in range(0,5):
    for i in range(0,5):
        print("*", end = '')
    print()

In [ ]:
for _ in range(0,5):
    print("*" * 5)

In [ ]:
i = 0
while i < 10:
    print("hello world")
    i += 1

In [ ]:
count = int(input('반복할 횟수를 입력하세요: '))
while count > 0:
    print("hello world", count)
    count -= 1

In [21]:
num = int(input('숫자를 입력하세요'))
count = 1
while count <= 9:
    print(f'{num} * {count} = {num * count}')
    count += 1

123123123 * 1 = 123123123
123123123 * 2 = 246246246
123123123 * 3 = 369369369
123123123 * 4 = 492492492
123123123 * 5 = 615615615
123123123 * 6 = 738738738
123123123 * 7 = 861861861
123123123 * 8 = 984984984
123123123 * 9 = 1108108107

In [50]:
stu_count = int(input('학생의 수를 입력하세요: '))
count = 1
sum = 0
while count <= stu_count:
    score = int(input(f'{count}번 학생의 점수 : '))
    sum += score
    count += 1
print('평균 : ' + str(sum / stu_count) + '점')

평균 : 88.0점

In [55]:
scores = (97, 100, 77)
for _ in range(len(scores)):
    print(scores[_])

97
100
77

In [63]:
for i in [1,2,3,4,5,6,7,8,9]:
    print(i)

1
2
3
4
5
6
7
8
9

In [71]:
class_a = (70,60,55,75,95,90,80,80,85,100)
sum = 0
for i in range(len(class_a)):
    sum += class_a[i]
print(sum / len(class_a))

79.0

In [79]:
class_a = (70,60,55,75,95,90,80,80,85,100)
sum = 0
i = 0
while i < len(class_a):
    sum += class_a[i]
    i += 1
print(sum / len(class_a))

79.0

In [106]:
i = 0
total = 0
while True:
    if i == 101:
        break
    total += i
    i += 1
print(total)

5050

In [15]:
i = 0
while True:
    if i == 101:
        break
    if i % 10 != 3:
        i += 1
        continue
    print(i , end = ' ')
    i += 1

3 13 23 33 43 53 63 73 83 93

In [29]:
# for문
for i in range(1,11):
    print(i, end = " ")


print()
# while문
count = 1
while count <= 10:
    print(count, end = " ")
    count += 1

1 2 3 4 5 6 7 8 9 10
1 2 3 4 5 6 7 8 9 10

In [55]:
# for 문
start = int(input('시작하는 정수 입력 :'))
end = int(input('끝나는 정수 입력: '))
sum = 0
for i in range(start, end + 1):
    sum += i
print(f'{start}부터 {end}까지의 합은 {sum}입니다.')

1부터 10까지의 합은 55입니다.

In [58]:
# while 문
start = int(input('시작하는 정수 입력 :'))
temp_start = start
end = int(input('끝나는 정수 입력: '))
sum_ = 0
while temp_start <= end:
    sum_ += temp_start
    temp_start += 1
print(f'{start}부터 {end}까지의 합은 {sum_}입니다.')

2부터 20까지의 합은 209입니다.

In [78]:
start = int(input('시작하는 정수 입력 :'))
end = int(input('끝나는 정수 입력: '))

#### for문
total = 0
for i in range(start, end + 1):
    if i % 2 == 0:
        total += i**2
print(f'{start}부터 {end} 사이의 짝수 제곱의 합은 {total}입니다.')


#### while문
total = 0
temp_start = start
while temp_start <= end:
    if temp_start % 2 == 0:
        total += temp_start ** 2
    temp_start += 1
print(f'{start}부터 {end} 사이의 짝수 제곱의 합은 {total}입니다.')

15부터 68 사이의 짝수 제곱의 합은 54180입니다.
15부터 68 사이의 짝수 제곱의 합은 54180입니다.

In [92]:
print(3)

3

In [102]:
from pytz import timezone
from datetime import datetime, timedelta
base_date = datetime.now(timezone('Asia/Seoul')) - timedelta(minutes = 30)

datetime.datetime(2023, 1, 9, 16, 17, 41, 552322, tzinfo=<DstTzInfo 'Asia/Seoul' KST+9:00:00 STD>)

In [103]:
Kor = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0
for i in Kor:
    total += i
print(total / len(Kor))

79.0

In [105]:
Kor = [70, 60, 55, 75, 95, 90, 80, 80, 85, 100]
total = 0
count = 0
while count < len(Kor):
    total += Kor[count]
    count += 1
print(total/ len(Kor))

79.0

In [13]:
Scores = list(map(int, input('실기점수를 입력하세요: ').split()))
total = 0
max_score = 0
min_score = 100
for score in Scores:
    total += score
    if score > max_score:
        max_score = score
    if score < min_score:
        min_score = score

print(f'이 학생의 평균 점수는 {(total - max_score - min_score) / (len(Scores) - 2)}입니다.')

이 학생의 평균 점수는 79.0입니다.

In [17]:
Scores = [86,72,98,60,45]
A_grade, B_grade, C_grade, D_grade, F_grade = [0, 0, 0, 0, 0]

for score in Scores:
    if 85 <= score <= 100:
        A_grade += 1
    elif 70 <= score <= 84:
        B_grade += 1
    elif 55 <= score <= 69:
        C_grade += 1
    elif 40 <= score <= 54:
        D_grade += 1
    elif 0 <= score <= 39:
        F_grade += 1

print([A_grade, B_grade, C_grade, D_grade, F_grade])

[2, 1, 1, 1, 0]

In [18]:
Scores = [86,72,98,60,45]
grade_counter = [0, 0, 0, 0, 0]

for score in Scores:
    if 85 <= score <= 100:
        grade_counter[0] += 1
    elif 70 <= score <= 84:
        grade_counter[1] += 1
    elif 55 <= score <= 69:
        grade_counter[2] += 1
    elif 40 <= score <= 54:
        grade_counter[3] += 1
    elif 0 <= score <= 39:
        grade_counter[4] += 1

print(grade_counter)

[2, 1, 1, 1, 0]

In [21]:
for i in range(1,101):
    if (i % 3 == 0) & (i % 5 == 0):
        i = 'FizzBuzz'
    elif (i % 3 == 0):
        i = 'Fizz'
    elif (i % 5 == 0):
        i = 'Buzz'
    print(i, end = '\t')

1	2	Fizz	4	Buzz	Fizz	7	8	Fizz	Buzz	11	Fizz	13	14	FizzBuzz	16	17	Fizz	19	Buzz	Fizz	22	23	Fizz	Buzz	26	Fizz	28	29	FizzBuzz	31	32	Fizz	34	Buzz	Fizz	37	38	Fizz	Buzz	41	Fizz	43	44	FizzBuzz	46	47	Fizz	49	Buzz	Fizz	52	53	Fizz	Buzz	56	Fizz	58	59	FizzBuzz	61	62	Fizz	64	Buzz	Fizz	67	68	Fizz	Buzz	71	Fizz	73	74	FizzBuzz	76	77	Fizz	79	Buzz	Fizz	82	83	Fizz	Buzz	86	Fizz	88	89	FizzBuzz	91	92	Fizz	94	Buzz	Fizz	97	98	Fizz	Buzz

In [40]:
for i in range(1,101):
    print("Fizz" * (i % 3 == 0) + "Buzz" * (i % 5 == 0) or i)

1
2
Fizz
4
Buzz
Fizz
7
8
Fizz
Buzz
11
Fizz
13
14
FizzBuzz
16
17
Fizz
19
Buzz
Fizz
22
23
Fizz
Buzz
26
Fizz
28
29
FizzBuzz
31
32
Fizz
34
Buzz
Fizz
37
38
Fizz
Buzz
41
Fizz
43
44
FizzBuzz
46
47
Fizz
49
Buzz
Fizz
52
53
Fizz
Buzz
56
Fizz
58
59
FizzBuzz
61
62
Fizz
64
Buzz
Fizz
67
68
Fizz
Buzz
71
Fizz
73
74
FizzBuzz
76
77
Fizz
79
Buzz
Fizz
82
83
Fizz
Buzz
86
Fizz
88
89
FizzBuzz
91
92
Fizz
94
Buzz
Fizz
97
98
Fizz
Buzz

In [39]:
dic_ = {'00': 'g', '10' : 'Fizz', '01' : 'Buzz', '11' : 'FizzBuzz'}
for i in range(1,101):
    a = dic_[f'{int(i % 3 == 0)}{int(i % 5 == 0)}']
    if a == 'g':
        a = i
    print(a, end = '\t')

1	2	Fizz	4	Buzz	Fizz	7	8	Fizz	Buzz	11	Fizz	13	14	FizzBuzz	16	17	Fizz	19	Buzz	Fizz	22	23	Fizz	Buzz	26	Fizz	28	29	FizzBuzz	31	32	Fizz	34	Buzz	Fizz	37	38	Fizz	Buzz	41	Fizz	43	44	FizzBuzz	46	47	Fizz	49	Buzz	Fizz	52	53	Fizz	Buzz	56	Fizz	58	59	FizzBuzz	61	62	Fizz	64	Buzz	Fizz	67	68	Fizz	Buzz	71	Fizz	73	74	FizzBuzz	76	77	Fizz	79	Buzz	Fizz	82	83	Fizz	Buzz	86	Fizz	88	89	FizzBuzz	91	92	Fizz	94	Buzz	Fizz	97	98	Fizz	Buzz

In [42]:
name_list = ['matthew', 'mark', 'luke', 'john', 'paul', 'peter']
count = 0
for name in name_list:
    if ('m' in name) or ('h' in name):
        count += 1
print(f'm 또는 h가 이름에 포함된 사람은 {count} 명입니다.')

m 또는 h가 이름에 포함된 사람은 3 명입니다.

In [55]:
marks = [90, 25, 67, 45, 80]

# for문
for mark_idx in range(len(marks)):
    if marks[mark_idx] >= 60:
        print(f'{mark_idx + 1}번 학생 축하합니다. 합격입니다.')
        
# while 문
count = 0
seq = 0
while count < len(marks):
    seq += 1
    if marks[count] >= 60:
        print(f'{seq}번 학생 축하합니다. 합격입니다.')
    count += 1

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.
1번 학생 축하합니다. 합격입니다.

KeyboardInterrupt:

In [57]:
marks = [90, 25, 67, 45, 80]

# for문
for mark_idx in range(len(marks)):
    if marks[mark_idx] < 60:
        continue
    print(f'{mark_idx + 1}번 학생 축하합니다. 합격입니다.')
        
# while 문
count = 0
seq = 0
while count < len(marks):
    seq += 1
    if marks[count] < 60:
        count += 1
        continue
    print(f'{seq}번 학생 축하합니다. 합격입니다.')
    count += 1

1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.
1번 학생 축하합니다. 합격입니다.
3번 학생 축하합니다. 합격입니다.
5번 학생 축하합니다. 합격입니다.

In [70]:
arr = [1, 4, 2, 3]
left, right = 0, len(arr) - 1
while left <= right:
    arr[left], arr[right] = arr[right], arr[left]
    left += 1
    right -= 1

print("변환된 arr은", arr, "입니다")

변환된 arr은 [3, 2, 4, 1] 입니다

In [81]:
for i in range(1,10):
    for j in range(2,10):
        print(f'{j}x{i}={i * j}', end = '\t')
    print('')

2x1=2	3x1=3	4x1=4	5x1=5	6x1=6	7x1=7	8x1=8	9x1=9
2x2=4	3x2=6	4x2=8	5x2=10	6x2=12	7x2=14	8x2=16	9x2=18
2x3=6	3x3=9	4x3=12	5x3=15	6x3=18	7x3=21	8x3=24	9x3=27
2x4=8	3x4=12	4x4=16	5x4=20	6x4=24	7x4=28	8x4=32	9x4=36
2x5=10	3x5=15	4x5=20	5x5=25	6x5=30	7x5=35	8x5=40	9x5=45
2x6=12	3x6=18	4x6=24	5x6=30	6x6=36	7x6=42	8x6=48	9x6=54
2x7=14	3x7=21	4x7=28	5x7=35	6x7=42	7x7=49	8x7=56	9x7=63
2x8=16	3x8=24	4x8=32	5x8=40	6x8=48	7x8=56	8x8=64	9x8=72
2x9=18	3x9=27	4x9=36	5x9=45	6x9=54	7x9=63	8x9=72	9x9=81

In [82]:
dic = {1: 3, 1: 4}

In [83]:
dic

{1: 4}

In [11]:
fruit = input('좋아하는 과일을 입력하세요: ')
fruits = ['사과', '바나나', '오렌지', '파인애플']
price = [1000, 700, 1500, 2000]
price_dic = dict(zip(fruits,price))
print(f'사과의 가격은 {price_dic[fruit]}원 입니다.')

사과의 가격은 1000원입니다.

In [14]:
names = input('이름을 기입해주세요').split()
weight = map(float, input('몸무게를 입력해주세요').split())
info = dict(zip(names, weight))
print(info)

{'뽀로로': 33.2, '우상욱': 44.5, '스누피': 66.6, '강형욱': 32.2}

In [16]:
names = input('이름을 기입해주세요').split()
weight = map(float, input('몸무게를 입력해주세요').split())

In [17]:
names = ['스누피', '뽀로로', '만리장성']
weight = [123, 232, 2323]
dict = {}
for idx, name in enumerate(names):
    dict[name] = weight[idx]
dict

{'스누피': 123, '뽀로로': 232, '만리장성': 2323}