In [2]:
import random

target_num = random.randint(1, 100)

answer_list = []
count = 0
while True:
    answer_num = int(input('값을 입력해주세요 : '))
    answer_list.append(answer_num)
    if answer_num < 1 or answer_num > 100:
        print('1~100 사이의 숫자를 입력하세요.')
        count += 1
        continue
    if target_num < answer_num:
        print('그보다 작습니다.')
        count += 1
        continue
    elif target_num > answer_num:
        print('그보다 큽니다.')
        count += 1
        continue
    else:
        print('맞췄습니다!')
        count += 1
        break
print(f"{count}번 만에 맞추셨습니다!")
answer_list = list(map(str,answer_list))
print(f"입력한 숫자는 다음과 같습니다 {', '.join(answer_list)}")

그보다 작습니다.
그보다 큽니다.
그보다 작습니다.
그보다 작습니다.
그보다 작습니다.
그보다 작습니다.
그보다 작습니다.
그보다 큽니다.
그보다 큽니다.
그보다 작습니다.
그보다 작습니다.
그보다 작습니다.
맞췄습니다!
13번 만에 맞추셨습니다!
입력한 숫자는 다음과 같습니다 50, 25, 35, 30, 32, 75, 75, 25, 22, 35, 34, 30, 29

In [4]:
sum((1,2,3,4,5))

15

In [5]:
def var_positional(*args):
    return sum(args)

var_positional(1,2,3,4,5)

15

In [9]:
def to_celsius(fahrenheit):
    return (fahrenheit - 32) * 5 / 9

to_celsius(70)

21.11111111111111

In [35]:
def odd_even(x):
    '''자연수에 대해서만 "짝수", "홀수" 반환합니다.'''
    if type(x) is not int or x <= 0:
        return
    if x % 2 == 1:
        return "홀수"
    else :
        return "짝수"

print(odd_even("가"))

None

In [36]:
def check_leap_year(x):
    if (x % 100 == 0) & (x % 400 != 0):
        return "평년"
    elif x % 4 == 0:
        return "윤년"
    else:
        return "평년"

In [41]:
check_leap_year(1900)

'평년'

In [67]:
def days(year, month):
    if month in (1,3,5,7,8,10,12):
        return 31
    elif month in (4,6,9,11):
        return 30
    elif month == 2: 
        if ((year % 100 == 0) & (year % 400 != 0)) or (year % 4 != 0):
            return 28
        else :
            return 29

    
def check_leap_year(year):
    if ((year % 100 == 0) & (year % 400 != 0)) or (year % 4 != 0):
        return "평년"
    else :
        return "윤년"

In [61]:
days(1950,2)

28

In [60]:
check_leap_year(1950)

'평년'

In [57]:
def days(month):
    if month in (1,3,5,7,8,10,12):
        return 31
    elif month in (4,6,9,11):
        return 30
    elif month == 2:
        return 28
days(2)

28

In [62]:
def days(year, month):
    if month in (1,3,5,7,8,10,12):
        return 31
    elif month in (4,6,9,11):
        return 30
    elif month == 2: 
        if ((year % 100 == 0) & (year % 400 != 0)) or (year % 4 != 0):
            return 28
        else :
            return 29

In [66]:
days(2000,2)

29

In [72]:
x = 10
y = 4

def get_quotient_remainder(x, y):
    return x // y, x % y

quitient, remainder = get_quotient_remainder(x, y)
print(quitient, remainder)

5 0