In [2]:
import random

target_num = random.randint(1, 100)

answer_list = []
count = 0
while True:
    answer_num = int(input('값을 입력해주세요 : '))
    answer_list.append(answer_num)
    if answer_num < 1 or answer_num > 100:
        print('1~100 사이의 숫자를 입력하세요.')
        count += 1
        continue
    if target_num < answer_num:
        print('그보다 작습니다.')
        count += 1
        continue
    elif target_num > answer_num:
        print('그보다 큽니다.')
        count += 1
        continue
    else:
        print('맞췄습니다!')
        count += 1
        break
print(f"{count}번 만에 맞추셨습니다!")
answer_list = list(map(str,answer_list))
print(f"입력한 숫자는 다음과 같습니다 {', '.join(answer_list)}")

그보다 작습니다.
그보다 큽니다.
그보다 작습니다.
그보다 작습니다.
그보다 작습니다.
그보다 작습니다.
그보다 작습니다.
그보다 큽니다.
그보다 큽니다.
그보다 작습니다.
그보다 작습니다.
그보다 작습니다.
맞췄습니다!
13번 만에 맞추셨습니다!
입력한 숫자는 다음과 같습니다 50, 25, 35, 30, 32, 75, 75, 25, 22, 35, 34, 30, 29

In [4]:
sum((1,2,3,4,5))

15

In [5]:
def var_positional(*args):
    return sum(args)

var_positional(1,2,3,4,5)

15

In [9]:
def to_celsius(fahrenheit):
    return (fahrenheit - 32) * 5 / 9

to_celsius(70)

21.11111111111111

In [35]:
def odd_even(x):
    '''자연수에 대해서만 "짝수", "홀수" 반환합니다.'''
    if type(x) is not int or x <= 0:
        return
    if x % 2 == 1:
        return "홀수"
    else :
        return "짝수"

print(odd_even("가"))

None

In [36]:
def check_leap_year(x):
    if (x % 100 == 0) & (x % 400 != 0):
        return "평년"
    elif x % 4 == 0:
        return "윤년"
    else:
        return "평년"

In [41]:
check_leap_year(1900)

'평년'

In [67]:
def days(year, month):
    if month in (1,3,5,7,8,10,12):
        return 31
    elif month in (4,6,9,11):
        return 30
    elif month == 2: 
        if ((year % 100 == 0) & (year % 400 != 0)) or (year % 4 != 0):
            return 28
        else :
            return 29

    
def check_leap_year(year):
    if ((year % 100 == 0) & (year % 400 != 0)) or (year % 4 != 0):
        return "평년"
    else :
        return "윤년"

In [61]:
days(1950,2)

28

In [60]:
check_leap_year(1950)

'평년'

In [57]:
def days(month):
    if month in (1,3,5,7,8,10,12):
        return 31
    elif month in (4,6,9,11):
        return 30
    elif month == 2:
        return 28
days(2)

28

In [62]:
def days(year, month):
    if month in (1,3,5,7,8,10,12):
        return 31
    elif month in (4,6,9,11):
        return 30
    elif month == 2: 
        if ((year % 100 == 0) & (year % 400 != 0)) or (year % 4 != 0):
            return 28
        else :
            return 29

In [66]:
days(2000,2)

29

In [72]:
x = 10
y = 4

def get_quotient_remainder(x, y):
    return x // y, x % y

quitient, remainder = get_quotient_remainder(x, y)
print(quitient, remainder)

5 0

In [ ]:
# 튜플에서 소괄호가 생략가능하다. return에서 값을 두개 준것 같지만 튜플로 하나를 준거다. 그래서 찢을 때는 unpacking으로 뺀거임

In [75]:
global_v = "전역 변수입니다."

def local_scope():
    print(global_v)
    
local_scope()

전역 변수입니다.

In [79]:
global_v = "전역 변수입니다."

def local_scope2():
    global_v  = '지역 범위 입니다.'
    # print(global_v)
    
local_scope2()
print(global_v)
# 사실은 전역 범위에서 global_v2를 만들어 할당한 것과
# 로컬 범위에서 global_v2를 만들어서 할당한 것 두가지 일을 각각 독립적으로 실행한
# 결과르 확인했다.

전역 변수입니다.

In [80]:
global_v3 = "전역 변수입니다."

def local_scope3():
    global global_v3
    global_v3 = "지역 범위에서의 변경입니다."

local_scope3()
print(global_v3)

# 글로벌 키워드를 활용하면 지역 범위에 있어도 전역 변수에 대한 변경이 가능하도록
# 할 수 있었다.

지역 범위에서의 변경입니다.

In [93]:
def local_scope5():
    global_v5 = '바깥 지역 범위입니다.'
    def local_scope6():
        nonlocal global_v5
        global_v5 = "안쪽 지역 범위입니다."
    local_scope6()
    print(global_v5)
    
local_scope5()

안쪽 지역 범위입니다.

In [94]:
(lambda x : x + 25)(2)

27

In [96]:
a = [_ for _ in range(1,6)]
b = [_ for _ in range(2,11,2)]
print(list(map(lambda x, y : x * y, a , b)))

[2, 8, 18, 32, 50]

In [100]:
a = [1,2,3]
b = [3,4,8]
list(map(lambda x, y : x + y, a, b))

[4, 6, 11]

In [107]:
a = [_ for _ in range(5)]
b = [_ for _ in range(2, 11, 2)]
c = list(map(lambda x, y : x + y, a, b ))
print(a)
print(b)
print(c)

[0, 1, 2, 3, 4]
[2, 4, 6, 8, 10]
[2, 5, 8, 11, 14]

In [105]:
c

[2, 5, 8, 11, 14]

In [108]:
print((lambda x : x ** 2)(10))

100

In [110]:
a = [3,2,8,22,10,7,0,11,9,9]
[x for x in a if x % 3 == 0 and 0 < x < 10]

[3, 9, 9]

In [111]:
a = [3,2,8,22,10,7,0,11,9,9]
list(map(lambda x : x + 3, a))

[6, 5, 11, 25, 13, 10, 3, 14, 12, 12]