In [ ]:
import numpy as np
import pandas as pd

In [ ]:
series = pd.Series(['하나', '둘', '셋', '넷', '다섯', '여섯', '일곱',' 여덟', '아홉', '열'], index = [_ for _ in range(1,11)])
series

## object 객체는 최상위의 객체, 모든 걸 포괄할 수 있는 객체

In [ ]:
s = pd.Series([9_904_312, 3_448_737, 2_890_451, 2_466_052], index = ['서울', '부산', '인천', '대구'])
s.index
s.values

In [ ]:
s.name = "인구"
s.index.name = "도시"

In [ ]:
s

In [ ]:
dict = {'a' : 1, 'b' : 2, 'c' : 3}
ser = pd.Series(data = dict, index = ['x','y','z'])
ser

In [ ]:
s2 = pd.Series({'서울' : 9_904_312,
                '부산' : 3_448_737,
                '인천' : 2_890_451,
                '대구' : 2_466_052})
s2

In [ ]:
s = pd.Series([99040312, 3448737, 2890452, 2466052], index = ['서울','부산','인천','대구'])

In [ ]:
s - s2

In [ ]:
rs = pd.Series([1.636984, 2.832690, 9.818107], index = ['부산','서울','인천'])
rs['부산'] = 1.63
rs

In [ ]:
rs['대구'] = 1.41
rs

In [ ]:
del rs['서울']
rs

In [ ]:
fin1 = {'카카오':60010, '삼성전자':61000, 'LG전자':90000}
fin2_value = [60200, 61200, 200100]
fin2_index = ['카카오','삼성전자','네이버']

ser_finance1 = pd.Series(fin1)
ser_finance2 = pd.Series(fin2_value, index = fin2_index)

In [ ]:
result = ser_finance1 - ser_finance2
result[result.notnull()]

In [ ]:
ser_finance1 + ser_finance2

In [ ]:
ser_finance1 * ser_finance2

In [ ]:
ser_finance1 / ser_finance2

In [ ]:
d = {'col1' : [1,2], 'col2' : [3, 4]}
df = pd.DataFrame(data = d)
df

In [ ]:
data = {
    "2015": [9904312, 3448737, 2890451, 2466052],
    "2010": [9631482, 3393191, 2632035, 2431774],
    "2005": [9762546, 3512547, 2517680, 2456016],
    "2000": [9853972, 3655437, 2466338, 2473990],
    "지역": ["수도권", "경상권", "수도권", "경상권"],
    "2010-2015 증가율": [0.0283, 0.0163, 0.0982, 0.0141]
}
columns = ["지역", "2015", "2010", "2005", "2000", "2010-2015 증가율"]
index = ["서울", "부산", "인천", "대구"]
df = pd.DataFrame(data, index=index, columns=columns)
df

In [ ]:
dict_ = {'코스피' : ['하락', '하락', '상승', '상승', '하락'],
        '코스피 지수' : [2359.53, 2365.10, 2386.09, 2399.86, 2379.39],
        '두산에너빌리티' : [16400, 16900, 17150, 16500, 16300],
        '삼성전자' : [60500, 60500, 60800, 61100, 61000],
        '셀바스AI' : [8250, 7980, 8510, 8600, 8820],
        '레인보우로보틱스' : [53700, 49750, 54700, 56700, 63200],
        }
df = pd.DataFrame(dict_, index = ['2023.01.11', '2023.01.12', '2023.01.13', '2023.01.16', '2023.01.17'])
# df.columns.name = '주가'
# df.index.name = '날짜'
df

In [ ]:
df.head(1)

In [ ]:
df[:1]

In [ ]:
df[1:3]

In [ ]:
data = {
    "국어": [80, 90, 70, 30],
    "영어": [90, 70, 60, 40],
    "수학": [90, 60, 80, 70],
}
columns = ["국어", "영어", "수학"]
index = ["춘향", "몽룡", "향단", "방자"]
df = pd.DataFrame(data, index=index, columns=columns)

In [ ]:
# 1번
df['수학']

# 2번
df[['국어','영어']]

# 3번
df['평균' ] = (df['국어'] + df['영어'] + df['수학']) / 3

# 4번
df['영어']['방자'] = 80
df['평균' ] = (df['국어'] + df['영어'] + df['수학']) / 3

# 5번
df['춘향':'춘향']

# 6번
df.T['향단']

In [ ]:
df.T['향단']

In [ ]:
df

In [ ]:
np.random.seed(0)
pd.DataFrame(np.random.randn(6,4), index = pd.date_range("20130206", periods = 6), columns = ['A', 'B','C','D'])

In [ ]:
class Team:
    
    ### 클래스 속성
    '''팀 객체를 만듭니다'''
    count = 0
    order = []
    def __init__(self, number, name = None,  member = set()):
        
        ### 인스턴스 속성
        self.number = number
        self.name = name
        self.member = member
        Team.count += 1
        Team.order.append(number)
        
    def add_member(self, name):
        '''팀원을 추가합니다'''
        # 해당 이름이 팀에 없을 경우
        if name not in self.member:
            self.member.add(name)
            print(f'{name}님을 팀 {self.number}에 추가했습니다.')
            
        # 해당 이름이 팀에 있을 경우
        else:
            print(f'{name}님은 이미 팀에 있습니다.')
            
    def rm_member(self, name):
        '''팀원을 삭제합니다'''
        if name in self.member:
            self.member.remove(name)
            print(f'{name}님을 팀에서 삭제했습니다.')
        else :
            print(f'{name}님은 해당 팀에 없습니다.')
            
    def get_count(self):
        '''팀의 수를 리턴합니다'''
        return Team.count

    def get_order(self):
        '''팀 생성 순서를 받습니다'''
        return Team.order
    
    def set_order(self, x):
        '''팀 순서를 조정합니다'''
        if x in Team.order:
            Team.order.remove(x)
            Team.order.append(x)
        else :
            Team.order.append(x)
    
    def __len__(self):
        '''각 팀의 멤버 수를 리턴합니다'''
        return len(self.member)

In [ ]:
s = '서울특별시'
if '서울' in s :
    print('hi')

In [ ]:
import pandas as pd
data = pd.Series([963122133, 51561512, 515485 , 19815152], index = ['서울', '부산', '인천', '대구'])

In [ ]:
data.index.name = '도시'

In [ ]:
data

In [ ]:
dict_ = {'c1' : [1,2,'누락'], 'c2' : [1.11, '', '3.33'], 'c3' : ['one', 'two', 'three']}
df = pd.DataFrame(dict_)
df.to_csv('data/sample1.csv', index = False, encoding = 'utf-8-sig')
# df.to_csv('C:/python/data/sample1.csv')

In [ ]:
df_read = pd.read_csv('data/sample1.csv')
df_read

In [ ]:
df.to_csv('data/sample2.csv', index = False, header = False)

In [ ]:
df = pd.read_csv('data/sample2.csv', self.members = ['c1','c2','c3'])

In [ ]:
%%writefile sample3.txt
c1        c2        c3        c4
0.179181 -1.538472  1.347553  0.43381
1.024209  0.087307 -1.281997  0.49265
0.417899 -2.002308  0.255245 -1.10515

In [ ]:
df = pd.read_table('sample3.txt', sep = '\s+')

In [ ]:
%%writefile sample4.txt
파일 제목: sample4.txt
데이터 포맷의 설명:
c1, c2, c3
1, 1.11, one
2, 2.22, two
3, 3.33, three

In [ ]:
pd.read_csv('sample4.txt', skiprows = [0,1])

In [ ]:
df_na_val = pd.read_csv('data/sample1.csv', na_values = ['누락'])
df_na_val

In [ ]:
df_na_val.to_csv('sample5.txt', sep = '|')

In [ ]:
df_na_val.to_csv('sample5.txt', na_rep ='누락')

In [ ]:
tt = pd.read_csv('https://storage.googleapis.com/tf-datasets/titanic/train.csv')

In [ ]:
tt

In [ ]:
import numpy as np
df = pd.DataFrame(np.array(range(10,22)).reshape(3,4),
                index = ['a','b','c'],
                columns = ['A','B','C','D'])
df

In [ ]:
df.loc['a']

In [ ]:
df.loc[["b","c"]]

In [ ]:
df["b":"c"]

In [ ]:
df.A

In [ ]:
import seaborn as sns
titanic = sns.load_dataset("titanic")
titanic.head(5)

In [ ]:
titanic['sex'].value_counts()
titanic['sex'].sort_values(ascending = False)
titanic['age'].value_counts()
titanic['age'].sort_values(ascending = False)
titanic['class'].value_counts()
titanic['class'].sort_values(ascending = False)
titanic['alive'].value_counts()
titanic['alive'].sort_values(ascending = False)

In [ ]:
titanic.count()

In [ ]:
s2 = pd.Series(np.random.randint(6, size = 100))

In [ ]:
s2.value_counts().sort_index()

In [ ]:
titanic.value_counts(subset = 'sex')

In [ ]:
titanic['age'].mean()
titanic.loc[titanic['sex'] == 'female', 'age'].mean()
titanic.loc[(titanic['pclass'] == 1) & (titanic['sex'] == 'female'), 'age'].mean()

In [ ]:
class TeamBuilder:
    '''1번에 1개의 팀의 정보를 갖고 있는 클래스입니다'''
    has_team = False
    teams = []
    def __init__(self, member, team_count = 0):
        self.member = member
        self.team_count = team_count
    def create_team(self):
        if has_team == True:
            teams = []
        else:
            return TeamBuilder.has_team

In [352]:
class Team:
    ### 클래스 속성
    '''팀 객체를 만듭니다'''
    count = 0
    order = []
    def __init__(self, number, name = None,  member = set()):

        ### 인스턴스 속성
        self.number = number
        self.name = name
        self.member = member
        Team.count += 1
        Team.order.append(number)

    def add_member(self, name):
        '''팀원을 추가합니다'''
        # 해당 이름이 팀에 없을 경우
        if name not in self.member:
            self.member.add(name)
            print(f'{name}님을 팀 {self.number}에 추가했습니다.')

        # 해당 이름이 팀에 있을 경우
        else:
            print(f'{name}님은 이미 팀에 있습니다.')

    def rm_member(self, name):
        '''팀원을 삭제합니다'''
        if name in self.member:
            self.member.remove(name)
            print(f'{name}님을 팀에서 삭제했습니다.')
        else :
            print(f'{name}님은 해당 팀에 없습니다.')

    def get_count(self):
        '''팀의 수를 리턴합니다'''
        return Team.count

    def get_order(self):
        '''팀 생성 순서를 받습니다'''
        return Team.order

    def set_order(self, x):
        '''팀 순서를 조정합니다'''
        if x in Team.order:
            Team.order.remove(x)
            Team.order.append(x)
        else :
            Team.order.append(x)

    # 내장함수(Built-in-function) Len(Team()) --> 파이썬이 __len__(self)를 찾아서 실행
    def __len__(self):
        '''각 팀의 멤버 수를 리턴합니다'''
        return len(self.member)

In [356]:
a = Team(1)
a.add_member('우상욱')
a.member

우상욱님을 팀 1에 추가했습니다.

{'우상욱'}

In [449]:
def team_extractor(names, team_count):
    team_count_list = [len(names) // team_count for x in range(team_count)]
    for idx, i in enumerate(range(0, len(names) % team_count)):
        team_count_list[idx] += 1
    random_team_list = []
    for x in team_count_list:
        samplelist = random.sample(names, x)
        for name in samplelist:
            names.remove(name)
        # print(samplelist)
        random_team_list.append(samplelist)
    return random_team_list

class TeamBuilder():
    has_team = False
    teams = []

    def __init__(self, members, teams_count):
        self.members = members
        self.teams_count = team_count
    
    def creat_team(self):
        if TeamBuilder.has_team == False:
            random_team_list = team_extractor(self.members, self.teams_count)
            [TeamBuilder.teams.append(x) for x in random_team_list]
            print(random_team_list)
            print(f'팀을 {len(random_team_list)}개 생성했습니다')
            TeamBuilder.has_team = True
        else :
            TeamBuilder.teams = []
            print('기존의 팀 정보를 지우고 새로 생성합니다.')
            random_team_list = team_extractor(self.members, self.teams_count)
            print(random_team_list)
            [TeamBuilder.teams.append(x) for x in random_team_list]
            print(f'팀을 {len(random_team_list)}개 생성했습니다')
            
    def show_team_info(self):
        for team_num, team in enumerate(TeamBuilder.teams):
            print(f"{team_num + 1}팀은 {' '.join(team)} 입니다.")

In [453]:
members = "강지인 김강직 김경목 김기훈 김민수 김예린 김유림 김호영 도강현 맹지호 민병창 서영호 신제우 우상욱 윤규헌 이민호 이병호 이선주 이호진 허경모 황도희".split()

In [454]:
tb = TeamBuilder(members, 7)
tb.creat_team()
tb.show_team_info()

기존의 팀 정보를 지우고 새로 생성합니다.
[['도강현', '김강직', '김민수', '이민호', '김유림', '김예린'], ['우상욱', '강지인', '허경모', '황도희', '서영호'], ['김호영', '김경목', '윤규헌', '민병창', '이호진'], ['신제우', '맹지호', '김기훈', '이병호', '이선주']]
팀을 4개 생성했습니다
1팀은 도강현 김강직 김민수 이민호 김유림 김예린 입니다.
2팀은 우상욱 강지인 허경모 황도희 서영호 입니다.
3팀은 김호영 김경목 윤규헌 민병창 이호진 입니다.
4팀은 신제우 맹지호 김기훈 이병호 이선주 입니다.

[['도강현', '김강직', '김민수', '이민호', '김유림', '김예린'],
 ['우상욱', '강지인', '허경모', '황도희', '서영호'],
 ['김호영', '김경목', '윤규헌', '민병창', '이호진'],
 ['신제우', '맹지호', '김기훈', '이병호', '이선주']]

In [400]:
members = "강지인 김강직 김경목 김기훈 김민수 김예린 김유림 김호영 도강현 맹지호 민병창 서영호 신제우 우상욱 윤규헌 이민호 이병호 이선주 이호진 허경모 황도희".split()

In [ ]:
import random
class TeamBuilder():
    has_team = False
    teams = []

    def __init__(self, members, team_count):
        self.members = members
        self.team_count = team_count

    def create(self):
        # 멤버스 섞기
        random.shuffle(self.members)
        team_count_list = [len(self.members) // self.team_count for x in range(self.team_count)]
        for i in range(len(self.members) % self.team_count):
            team_count_list[i] += 1
        num = 0
        # 섞은 멤버 숫자에 맞춰 뽑기
        for team_count in team_count_list:
            TeamBuilder.teams.append(self.members[num : num + team_count])
            num += team_count
        
        # Teams에 있는 팀원 추가하기
        for team_number, team in enumerate(TeamBuilder.teams):
            globals()[f'{team_number}team'] = Team(team_number)
            for person in team:
                globals()[f'{team_number}team'].add_member(person)
            print(globals()[f'{team_number}team'].member)

In [ ]:
tb = TeamBuilder(members, 7)

In [ ]:
tb.create()

In [ ]:
members = "강지인 김강직 김경목 김기훈 김민수 김예린 김유림 김호영 도강현 맹지호 민병창 서영호 신제우 우상욱 윤규헌 이민호 이병호 이선주 이호진 허경모 황도희".split()

In [ ]:
team_count_list = [len(names) // team_count for x in range(team_count)]
    for idx, i in enumerate(range(0, len(names) % team_count)):
        team_count_list[idx] += 1
    random_team_list = []

In [ ]:

def team_extractor(names, team_count):
    team_count_list = [len(names) // team_count for x in range(team_count)]
    for idx, i in enumerate(range(0, len(names) % team_count)):
        team_count_list[idx] += 1
    random_team_list = []
    for x in team_count_list:
        samplelist = random.sample(names, x)
        for name in samplelist:
            names.remove(name)
        # print(samplelist)
        random_team_list.append(samplelist)
    return random_team_list

In [ ]:
class TeamBuilder:
    '''1번에 1개의 팀의 정보를 갖고 있는 클래스입니다'''
    has_team = False
    teams = []
    def __init__(self, members, team_count):
        self.members = members
        self.team_count = team_count

    def create_team(self):
        Team(self.members

In [351]:
members = "강지인 김강직 김경목 김기훈 김민수 김예린 김유림 김호영 도강현 맹지호 민병창 서영호 신제우 우상욱 윤규헌 이민호 이병호 이선주 이호진 허경모 황도희".split()
tb = TeamBuilder(members, 5)
tb.create_team()
tb.show_team_info()

AttributeError: 'TeamBuilder' object has no attribute 'create_team'

In [ ]:
Team.__dict__

In [ ]:
a.create_team()

In [ ]:
a

In [ ]:
print()

In [ ]:
members = "강지인 김강직 김경목 김기훈 김민수 김예린 김유림 김호영 도강현 맹지호 민병창 서영호 신제우 우상욱 윤규헌 이민호 이병호 이선주 이호진 허경모 황도희".split()
team_extractor(self.members, 4)
def team_extractor(names, team_count):
    team_count_list = [len(names) // team_count for x in range(team_count)]
    for idx, i in enumerate(range(0, len(names) % team_count)):
        team_count_list[idx] += 1
    random_team_list = []
    for x in team_count_list:
        samplelist = random.sample(names, x)
        for name in samplelist:
            names.remove(name)
        # print(samplelist)
        random_team_list.append(samplelist)
    return random_team_list

In [ ]:

# 이 때 팀을 짜야겠죠? 근데 팀간에 인원이 최대 1명 초과로 차이나지 않게

import math
def Team_builder(self.members, team_count):
    minimum_number = math.floor(len(self.members) / team_count)
    list_ = [x for x in [minimum_number] * team_count]
    for idx, x in enumerate(range(1, len(self.members) - minimum_number * team_count)):
        list_[idx] += 1
    return list_

In [ ]:
Team_builder(self.members, 5)

In [ ]:
for x in list_:
    samplelist = random.sample(self.members, x)
    for name in samplelist:
        self.members.remove(name)
    print(samplelist)

In [ ]:
list_ = [x for x in [minimum_number] * team_count]
for idx, x in enumerate(range(len(self.members) - minimum_number * team_count)):
    list_[idx] += 1

In [ ]:
list_

In [ ]:
print(input() + '??!')

In [ ]:
print(int(input()) - 543)

In [ ]:
base_list = [1, 1, 2, 2, 2, 8]
list_ = list(map(int,input().split(' ')))

for idx, i in enumerate(list_):
    base_list[idx] -= i
for x in base_list:
    print(x, end = ' ')

In [350]:
A = input()
B = input()

print(int(A) * int(b[-1]))
print(int(A) * int(b[-2]))
print(int(A) * int(b[0]))
print(int(A) * int(b))

TypeError: 'TeamBuilder' object is not subscriptable

In [ ]:
킹 1개, 퀸 1개, 룩 2개, 비숍 2개, 나이트 2개, 폰 8개

[1, 1, 2, 2, 2, 8]