# 1. 마크다운 학습
## 1.1. 아주 깔끔
일반 텍스트는 그냥 입력, 스페이스바 두 번이면 줄바꿈  
굵은 **글씨**는 이렇게 사용합니다.
기울인 *글씨*는 이렇게 사용합니다.  
~~취소선~~은 물결표시 두개로 감싸기
> 구획이  
> 잡힌  
> 글  

- 목록1
- 목록2
- 목록3

```
print(3)
```
코드 정리는 이렇게

1. 순서가 있는 목록
2. 두번째
3. 세번째

홈페이지는 이렇게 사용합니다.  
[Google](https://google.com)  

[이미지에 대한 설명]()

|제목셀|제목셀|제목셀|
|:--|:--|:--|
|값1|값2|값3|

```python
for i in range(2,6):
    print(i)
```

|제목셀|제목셀|제목셀|
|:--|:--|:--|
|값1|값2|값3|

In [3]:
scores = [88,73,89,59,77]
sum = 0
for score in scores:
    if score < 60:
        sum += 1
if sum > 0:
    print(False)
else :
    print(True)

False

In [9]:
numbers = [0,1,2,3,4,5,6,7]
print(numbers.append(8))
print(numbers)

None
[0, 1, 2, 3, 4, 5, 6, 7, 8]

In [11]:
numbers.insert(6,0)
numbers

[0, 0, 1, 2, 3, 4, 0, 5, 6, 7, 8]

In [12]:
numbers.extend([9,10,11])
numbers

[0, 0, 1, 2, 3, 4, 0, 5, 6, 7, 8, 9, 10, 11]

In [19]:
numbers.remove(1)
numbers

[2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [20]:
print(numbers.pop())
print(numbers)

11
[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [21]:
### pop() --> 제일 뒤에 오는 요소를 반환한다. 긜고 리스트에서 삭제한다.

In [28]:
numbers.reverse()

In [30]:
numbers.clear()

In [31]:
numbers

[]

In [47]:
numbers = [0,1,233,3,4,5,6,7]
print(numbers.count(5))

1

In [48]:
numbers.reverse()

In [49]:
numbers

[7, 6, 5, 4, 3, 233, 1, 0]

In [51]:
tuple_variable = (1,2,3,4,5,'hello')
# tuple_variable[0] = 0

In [54]:
tuple_variable[1:3] = ("dd","ee")

TypeError: 'tuple' object does not support item assignment

In [55]:
del tuple_variable[0]

TypeError: 'tuple' object doesn't support item deletion

In [58]:
import time
curr = time.time()
total = []

for i in range(10000):
    for j in range(10000):
        total.append((i,j))

last = time.time()
print(last - curr)

17.47099804878235

In [59]:
import time
curr = time.time()
total = []

for i in range(10000):
    for j in range(10000):
        total.append([i,j])

last = time.time()
print(last - curr)

64.10271835327148

In [63]:
input_value = input("아무거나 입력해보세요.")
print("input_value: ", input_value, "\ntype: ", type(input_value))
float(input_value)

input_value:  3.3
type:  <class 'str'>

3.3

In [64]:
name = input('이름을 입력하시오 : ')
print(name + '씨 안녕하세요?')
print('파이썬에 오신 것을 환영합니다.')
num1 = int(input("첫번째 정수를 입력하세요 : "))
num2 = int(input("두번째 정수를 입력하세요 : "))
print(f'{num1}과 {num2}의 합은 {num1 + num2}입니다.')

엔코아씨 안녕하세요?
파이썬에 오신 것을 환영합니다.
300과 400의 합은 700입니다.

In [69]:
stadium = input('경기장은 어디입니까?')
win_team = input('이긴 팀은 어디입니까?')
lose_team = input('진 팀은 어디입니까?')
mvp = input('우수 선수는 누구입니까?')
score = input('스코어는 몇대 몇입니까?')
print(f'[속보]{win_team}가 {score}로 승리...\n오늘 {stadium} 경기장에서 야구 경기가 있었습니다.\n{win_team}과 {lose_team}은 치열한 공방전을 펼쳤습니다.\n이 경기에서 {mvp}가 맹활약을 했습니다.\n그 끝내 {win_team}가 {lose_team}를 {score}로 승리하였습니다.\n기사 끝')

[속보]KT가 10:9로 승리...
오늘 고척 경기장에서 야구 경기가 있었습니다.
KT과 LG은 치열한 공방전을 펼쳤습니다.
이 경기에서 강백호가 맹활약을 했습니다.
그 끝내 KT가 LG를 10:9로 승리하였습니다.
기사 끝

In [71]:
result = '1,2,3'.split(',')
print(type(result))
print(result)

<class 'list'>
['1', '2', '3']

In [74]:
time_ = input('hh:mm:ss의 형태로 시간을 입력해주세요')
time_ = "12:33:22"
hour, minute, second = time_.split(':')
print('시 : ' + hour)
print('분 : ' + minute)
print('초 : ' + second)

시 : 12
분 : 33
초 : 22

In [79]:
a = [1.2, 2.5, 3.7, 4.6]
a = list(map(int,a))
a

[1, 2, 3, 4]

In [80]:
def add(x):
    return x + 1

a = list(map(add,a))
a

[2, 3, 4, 5]

In [92]:
scores = input('국어, 영어, 수학, 과학 점수를 입력해주세요: ')
scores = scores.split(',')
scores = list(map(int, scores))
sum = 0
for i in scores:
    sum += i
avg = sum / 4
print(f'평균 점수는 {avg}입니다.')

평균 점수는 98.5입니다.